@{
    ViewData["Title"] = "Cuenta";
}
@model Bigtoria.ViewModels.CreateAccountViewModel;

<div class="content">
    <div class="message card">
        <p><b>ADMINISTRADOR DE CUENTAS - EDITAR</b></p>
    </div>
    <div class="filter card">
        <h2>ID: @Model.Account.Id</h2>
        <a class="btn-close" asp-controller="Account" asp-action="Accounts"><i class="fa-regular fa-circle-xmark"></i></a>
    </div>
    <div class="delivery-content card">
        <form class="row" method="post" asp-controller="Account" asp-action="Edit">
            <div class="col">
                <div>
                    <label for="Fullname" class="label-form">Empleado</label>
                    <input class="input-form" type="text" name="Fullname" value="@Model.Account.Name @Model.Account.Lastname" readonly/>
                </div>
                <label class="subtitle">Informacion de la cuenta</label>
                <form class="" method="post">
                    <div>
                        <label for="Email" class="label-form">Correo</label>
                        <input class="input-form" type="text" name="Email" asp-for="Account.Email" required />
                    </div>
                    <div>
                        <label for="Password" class="label-form">Contraeña</label>
                        <input class="input-form" type="password" name="Password" asp-for="Account.Password" required />
                    </div>
                    <div>
                        <label for="RepeatPassword" class="label-form">Repetir contraseña</label>
                        <input class="input-form" type="password" name="RepeatPassword" asp-for="Account.RepeatPassword" required />
                    </div>
                    <button type="submit" class="btn-fill">Actualizar cuenta</button>
                </form>
            </div>
        </form>
    </div>
</div>

